# Sub directories
/.venv/
/.old/
*__pycache__/

# commit comment
/commit_comment.txt

# sublime text project files
/*.sublime-project
/*.sublime-workspace

# other extensions
*.backup*
*.csv
*.xls

configurar_usuário_administrador.bat
configurar_usuário_devel.bat